.principal-title,
.fa-piggy-bank{
    font-size: 2em;
}
.principal-title:hover,
.fa-piggy-bank:hover{
    color: var(--raspberry);
    transition: .4s;
}


.botoncito{
    cursor: pointer;
    font-size: 1.3em;
}

.botoncito:hover{
    background-color: rgba(44, 44, 44, 0.541);
    transition: .5s;
}